/* src/components/Icons/Icons.css */

.icons {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.notification-icon {
  position: relative; /* Necesario para el posicionamiento del Badge */
  background-color: #333; /* Fondo gris oscuro para el icono de notificación */
  border-radius: 50%; /* Redondear el fondo */
  padding: 8px; /* Espacio alrededor del icono */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px; /* Espacio a la izquierda del icono de notificación */
}
.notification-icon:hover {
  background-color: #505050; /* Gris más oscuro para el hover */
  cursor: pointer;
}
.record-icon {
  color: #00ff00; /* Color verde para el icono de grabar */
  margin-left: 10px; /* Espacio a la izquierda del icono de grabar */
  cursor: pointer;
}

.avatar-wrapper {
  margin-left: 10px; /* Espacio a la izquierda del avatar */
}

.avatar {
  width: 32px; /* Tamaño del avatar */
  height: 32px;
  border-radius: 50%; /* Redondear el avatar */
  cursor: pointer;
}
